.container-main {
    width: 450px;
    height: 550px;
    margin: 100px auto;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.display {
    border: solid black 1px;
    width: 80%;
    /* height: 15%; */
    text-align: right;
    overflow: hidden;
    text-overflow: cut;
    /* text-overflow: ellipsis; */
    /* maxlength: 3; */
}

.number-text {
    font-size: 60px;
    font-variant-numeric: tabular-nums;
    font-variant: diagonal-fractions;
}

.row {
    display: flex;
    width: 100%;
    flex-grow: 1;
    /* border: solid red 1px; */
}

.row button {
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
    font-size: 40px;
    font-family: lato;
}

